@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
  
:root {
  --primary: #2a5fff;
  --secondary: #fffff;
  --border-color: #d4d7eb;
}


p{
    font-size: large;
}

input[type="radio"] {
  display: none;
}

label {
  display : flex;
  padding :10px;
  gap :2em;
  align-items : center
}

.container_radio {
  width :30px;
  aspect-ratio : 1;
  overflow : hidden;
  border-radius : 50%;
  box-shadow : 2px 5px 5px rgba(0,0,0,0.2);
}

.cRadioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  border: solid 5px var(--border-color);
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  cursor: pointer;
  
}
label[for='radio1'],[for='radio2']{
    display: flex;
}
.cRadioBtn:hover {
  border: solid 8px var(--primary);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary);
}

.check:checked + label > .container_radio > .cRadioBtn > .overlay {
  background: #fff;
  animation: shrink 0.3s ease-in-out forwards;
}

.check:checked + label > .container_radio  > .cRadioBtn {
  background: var(--primary);
  border-color: var(--primary);
}

.drops {
  position: absolute;
  background: #fff;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  aspect-ratio: 1;
}

.lgDrop {
  width: 50%;
}

.xsDrop {
  width: 20%;
}

.mdDrop {
  width: 30%;
}

.check:checked + label > .container_radio  > .cRadioBtn > .lgDrop {
  animation: drop 0.5s ease-in-out forwards;
}

.check:checked + label > .container_radio  > .cRadioBtn > .mdDrop {
  animation: drop 0.8s ease-in forwards;
}

.check:checked + label > .container_radio  > .cRadioBtn > .xsDrop {
  animation: drop 0.9s linear forwards;
}

@keyframes drop {
  0% {
    top: -100%;
  }
  50% {
    top: -100%;
  }
  75% {
    top: 10%;
  }
  100% {
    top: 25%;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}

/* button */

button {
    margin: 30px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  /* 2 */
  .btn-2 {
    background: #2a5fff;
    background: linear-gradient(0deg, #2a5fff 0%, #2a5fff 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
