<!DOCTYPE html>
<html>
<head>
    <title>Read Items</title>
</head>
<body>
    <h1>Footer Items</h1>
    <ul>
        {% for item in footer_items %}
        <li>
            <strong>{{ item.name }}</strong> - {{ item.url }} - {{ item.icon }} - {{ item.heading }}
            <a href="{% url 'update_item' item.id %}">Edit</a>
            <a href="{% url 'delete_item' item.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_item' %}">Add New Item</a>
</body>
</html>
