{% include "admindashboard.html" %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet "  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


        <style>
            td{
  word-break:break;
  
}
        </style>

<style>
    .icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  }
  
  /* Style the Font Awesome icon using :before pseudo-element */
  .icon-container:before {
  content: "\f05a"; /* Unicode for the Font Awesome info-circle icon */
  font-family: 'Font Awesome 5 Free';
  font-size: 24px;
  color: #3498db;
  margin-right: 10px;
  }
  
  /* Hide the hover text by default */
  .hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:red;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  width:150px;
  }
  
  /* Display the hover text when hovering over the icon container */
  .icon-container:hover .hover-text {
  display: block;
  }
  </style>
    </head>
<body >
<section class="home-section" style="margin-left: 230px;">
    
        <center><h2 style="margin-top: 60px;">Basic Requirements Data</h2></center>
       
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <button type="button" class="btn btn-warning"> <a href="/basicform/" ><b color="white">ADD </b></a></button><br>

                <thead>
                    <tr>
                        <th>Heading</th>
                       <th>Icon</th>
                       <th>Image</th>
                       <th>Points</th>

                       <th>Points</th>

                        <th>Point1</th>
                        <th>Point2</th>
                        <th>Point3</th>

                        <th>Point4</th>

                       
                        <th>Point5</th>
                        <th>Point6</th>
                        <th>Point7</th>
                        <th>point8</th>
                        <th>Point9</th>

                       
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>

                </thead>
                <tbody>
                    {% for i in blood %}
                    <tr>
                        <td>{{i.heading}}</td>
                        <td><img src="{{i.icon}}" width="150" height="150"></td>
                        <td><img src="/media/{{i.images}}" width="150" height="150"></td>
                        <td>{{i.points}}</td>
                        <td>{{i.points}}</td>
                        <td>{{i.point1}}</td>
                        <td>{{i.point2}}</td>
                        <td>{{i.point3}}</td>

                        <td>{{i.point4}}</td>
                        <td>{{i.point5}}</td>

                        <td>{{i.point6}}</td>

                        <td>{{i.point7}}</td>

                        <td>{{i.point8}}</td>
                        <td>{{i.point9}}</td>

                        {% if user_profile.aremove == "1" %}                        
                        <td>
                            <div class="icon-container">
                                <i class="fa fa-solid fa-trash" style="color: red; font-size:35px;"></i>
                                <span class="hover-text"><b>Permission Required</b></span>
                            </div>
                        </td>
                <td>
                    <div class="icon-conatiner">
                        <i class="fa fa-pencil-square-o" style="color: blue; font-size:35px;"></i>
                        <span class="hover-text"><b>Permission Required</b></span>

                    </div>
                    </td>
                    {% else %}
                    <td><a href="/basic_delete/{{i.id}}"><i class="fa fa-solid fa-trash" style="color: red; font-size:35px;"></i></a></td>
                    <td><a href="/basic_edit/{{i.id}}"><i class="fa fa-pencil-square-o" style="color: blue; font-size:35px;"></a></td>   
                    </tr>
                    {% endif %}


              
        
                     
                    </tr>
                    {% endfor %}


            </table>
        
        </section>
        <script>
            $(document).ready(function() {
    $('#example').DataTable();
} );

        </script>
    </body>
</html>
{% endblock %}