
<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background:  #93A5CF;
            color: #fff;
        }

        .form-group label {
            font-weight: bold;
        }
        .btn-submit {
            background-color: #ff5a5f;
            border: none;
        }
        .btn-submit:hover {
            background-color: #e6454e;
        }
        .custom-file-input:lang(en)~.custom-file-label::after {
            content: "Browse";
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 align="center"> History Form</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="heading" class="col-sm-3 col-form-label">Heading</label>
                <div class="col-sm-9">
                    <input type="text" id="heading" name="heading" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="points" class="col-sm-3 col-form-label">Points</label>
                <div class="col-sm-9">
                    <input type="text" id="points" name="points" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="point1" class="col-sm-3 col-form-label">Point1</label>
                <div class="col-sm-9">
                    <input type="text" id="point1" name="point1" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="point2" class="col-sm-3 col-form-label">Point2</label>
                <div class="col-sm-9">
                    <input type="text" id="point2" name="point2" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="point3" class="col-sm-3 col-form-label">Point3</label>
                <div class="col-sm-9">
                    <input type="text" id="point3" name="point3" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="point4" class="col-sm-3 col-form-label">Point4</label>
                <div class="col-sm-9">
                    <input type="text" id="point4" name="point4" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="point5" class="col-sm-3 col-form-label">Point5</label>
                <div class="col-sm-9">
                    <input type="text" id="point5" name="point5" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="subhead" class="col-sm-3 col-form-label">Subhead</label>
                <div class="col-sm-9">
                    <input type="text" id="subhead" name="subhead" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnt1" class="col-sm-3 col-form-label">Content1</label>
                <div class="col-sm-9">
                    <input type="text" id="cnt1" name="cnt1" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnt2" class="col-sm-3 col-form-label">Content2</label>
                <div class="col-sm-9">
                    <input type="text" id="cnt2" name="cnt2" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="cnt3" class="col-sm-3 col-form-label">Content3</label>
                <div class="col-sm-9">
                    <input type="text" id="cnt3" name="cnt3" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnt4" class="col-sm-3 col-form-label">Content4</label>
                <div class="col-sm-9">
                    <input type="text" id="cnt4" name="cnt4" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="cnt5" class="col-sm-3 col-form-label">Content5</label>
                <div class="col-sm-9">
                    <input type="text" id="cnt5" name="cnt5" class="form-control">
                </div>
            </div>
            

            <div class="form-group row">
                <label for="images" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <input type="file" id="images" name="images" class="custom-file-input">
                        <label class="custom-file-label" for="images">Choose file</label>
                    </div>
                </div>
            </div>
            
          
            <center><button type="submit" class="btn btn-submit text-white">Submit</button></center>
        </form>
    </div>
</body>
</html>
