{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Bank Management System</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Bootstrap CSS link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <div class="row">

<h1> Overview: </h1> 
 <br>
 <h2>
  Blood donation is a voluntary procedure that can help save lives. There are several types of blood donation. Each type helps meet different medical needs.

</h2>      
  <br>    
<h4>
  Blood donation can be categorized into different types based on various factors, including the purpose of donation, 
the components of blood collected, and the frequency of donation. Here are some common types of blood donation:
<br>
 <b><u> 1.Whole Blood Donation: </u></b>
		 <br>
		Whole blood donation is what most people are familiar with. This is the traditional way of donating and allows us to 
		draw a pint of blood containing red blood cells, white blood cells, platelets and plasma at one time.

		People with O type blood and those with certain RH negative blood types are encouraged to donate whole blood.

<br><br>
 <b><u> 2.Platelet Donation: </u></b>
 <br>
		Platelet donation is a special process by which individuals can donate multiple units of platelets that are used 
		for patients in need in Central Texas. For many donors, a single platelet donation can help multiple people in the community. 
    <br>
   
		Platelets are small cells in the blood that help with clotting. Platelet donation involves collecting 
		only platelets while returning the other blood components to the donor. This type of donation is often used to treat patients
		with clotting disorders or undergoing chemotherapy.
    <br>
   
    (Platelets hold a unique power to save lives. Cancer patients are a primary recipient of platelets due to the harsh effects of chemotherapy.

		Platelet donations are done using a process called automation (sometimes referred to as apheresis). Automation allows us to collect specific 
		components of your blood at a larger volume. For example, one automated platelet donation produces one or more complete platelet doses for a patient. 
		It would take six to eight whole blood donors pooled together to produce one complete platelet dose.)
    <br><br>
   <b><u>  3.Plasma Donation: </u></b>  
   <br>
		Plasma is the liquid part of the blood that carries nutrients, hormones, and proteins. Plasma donation 
		involves giving plasma while returning red blood cells and platelets to the donor. Plasma is used to treat various medical conditions, 
		including immune disorders and clotting disorders.
    <br>

		Plasma is the liquid part of your blood. You may have heard of red blood cells, white blood cells, and platelets. But plasma is also part of your blood.

		One of its jobs is keeping your blood pressure in a healthy range. It also carries important proteins, 
		minerals, nutrients, and hormones to the right places in your body.
<br><br>
 <b><u> 4.Red Blood Cell Donation: </u></b>
		Red blood cell donation, also known as erythrocytapheresis, focuses on collecting only red blood cells. 
		This type of donation is typically done to help patients with conditions that require frequent blood transfusions.
<br>
<br>
</h4>
      
      
   
    </div>
    
   
    
    <!-- Add more rows as needed -->
    
  </div>
<!-- Your content here -->
<script>
  AOS.init();
</script>
<!-- Bootstrap JS scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}
